<!doctype html>
<html>
 <body>
  <div>
    <h1>Valerie Team STADZ Page!</h1>
    <p>You can help improve the Miami-Dade Transit System by answering this simple question! :) After you submit a short answer, you will also be able to see the estimated bus times!</p>
    <form action="/milo_server/bus_info" method="POST">
      <label for="fname">How many people are there at the bus stop, including you? </label><br></br>
      <input type="text" id="occupancy" name="occupancy"></input><br></br>
      <input type="submit" value="Submit"></input>
    </form>
  </div>
</body>
</html>